<a href="https://colab.research.google.com/github/connorgrannis/nch_python_workshop/blob/master/nch_python_workshop/Practice_Assignments/Week%203%20-%20Solutions/Week3_practice2_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
onecabinperrow = []
for row in titanic['Cabin'].dropna().values:
  # split the list entry on spaces
  cabins = row.split()        # splits the list entry on spaces by default
  if len(cabins[0]) >= 2:     # valid room
    onecabinperrow.append(cabins[0])
  else:                       # not a valid room, like entry 75 above ("F")
    try:                      # try to add the second entry for that person
      onecabinperrow.append(cabins[1])
    except IndexError:        # if there isn't a second entry, don't crash, just add the first
      onecabinperrow.append(cabins[0])

print(onecabinperrow[:10])

In [0]:
# now let's just take the first character of the cabin, so we can get which section they were in
section = [cabin[0] for cabin in onecabinperrow]    # list comprehension
print(section[:10])

In [0]:
# let's add this variable to our dataframe and split on it
reduced_titanic = titanic[titanic['Cabin'].notnull()]
reduced_titanic['Section'] = section
reduced_titanic.sort_values('Section', ascending=True, inplace=True)
grouped = reduced_titanic.groupby("Section")

In [0]:
# print some info about what we just did

print(len(grouped))
print(type(grouped.groups))
print(grouped.groups.keys())

In [0]:
sns.barplot(x='Section', y='Fare', data=reduced_titanic, ci=68)
plt.show()
print(grouped['Fare'].mean())

We can see that `ticket price` definately impacted which section of the Titanic a passanger was in, but did their location matter for survival?

In [0]:
sns.barplot(x='Section', y='Fare', hue='Survived', data=reduced_titanic, ci=68)
plt.show()